
body {
    background-color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
}


.navbar {
    background-color: #ffffff;
    border-bottom: 2px solid #ccc;
}

#homepage-title {
    color: #333;
    font-size: 32px;
}


.button-custom {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.button-custom:hover {
    background-color: #0056b3;
}
